In [9]:
# Ques 1: Discuss string slicing in python and provide examples?

In [12]:
#my_list = [start:end:step]
#Slicing with positive indices
my_list = "This is a string"
print (my_list[0:8])

This is

In [5]:
my_list = "This is a string"
print (my_list[:8])

This is

In [6]:
my_list = "This is a string"
print (my_list[5:])

is a string

In [7]:
my_list = "This is a string"
print (my_list[0:8:2])

Ti s

In [13]:
my_list = "This is a string"
print (my_list[: : 2])

Ti sasrn

In [14]:
my_list = "This is a string"
print (my_list[:])

This is a string

In [18]:
#Slicing with negative indices
my_list = "This is a string"
print (my_list[-8:-1])

a strin

In [19]:
my_list = "This is a string"
print (my_list[:-1])

This is a strin

In [20]:
my_list = "This is a string"
print (my_list[-5:])

tring

In [21]:
my_list = "This is a string"
print (my_list[-8:-1:2])

asrn

In [22]:
my_list = "This is a string"
print (my_list[: : 2])

Ti sasrn

In [23]:
my_list = "This is a string"
print (my_list[:])

This is a string

In [11]:
# Ques 2: Explain the key features of lists in Python?

In [26]:
#Ordered
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [27]:
# Mutable
my_list = [1, 2, 3]
my_list[1] = 10
print(my_list)

[1, 10, 3]

In [28]:
# Duplicate 
# Here 2 is duplicate as it is repeated two times
my_list = [1, 2, 2, 3]
print(my_list)

[1, 2, 2, 3]

In [29]:
# Heterogeneous
# That means it can have different datatypes
my_list = [1, "hello", 3.5, [2, 3]]
print(my_list)

[1, 'hello', 3.5, [2, 3]]

In [30]:
# Dynamic in nature
# This means you can add, remove, insert and short 
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [32]:
my_list = [1, 2, 3]
my_list.extend([4])  
print(my_list)

[1, 2, 3, 4]

In [35]:
my_list = [1, 2, 3]
my_list.insert(3, 4)
print(my_list)

[1, 2, 3, 4]

In [39]:
my_list = [1, 2, 3]
my_list.remove(3)
print(my_list)

[1, 2]

In [42]:
my_list = [1, 2, 3]
my_list.pop(1)
print(my_list)

[1, 3]

In [44]:
my_list = [3, 2, 1]
my_list.sort()
print(my_list)

[1, 2, 3]

In [45]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

In [46]:
#Indexing and Slicing
my_list = [10, 20, 30, 40, 50]
print(my_list[2])    
print(my_list[-1])   
print(my_list[1:4])

30
50
[20, 30, 40]

In [47]:
#Iterable
my_list = [1, 2, 3]
for item in my_list:
    print(item)

1
2
3

In [48]:
# Ques 3 : Describe how to access, modify and delete elements in a list with examples?

In [49]:
# Accessing Elements in a List
# Indexing
my_list = [10, 20, 30, 40, 50]
print(my_list[1])
print(my_list[-1])

20
50

In [50]:
#Slicing
my_list = [10, 20, 30, 40, 50]
print(my_list[1:4]) 
print(my_list[::2])

[20, 30, 40]
[10, 30, 50]

In [54]:
# Modifying Elements in a List
#Modifying a Single Element
my_list = [10, 20, 30, 40, 50]
my_list[1] = 200
print(my_list)

[10, 200, 30, 40, 50]

In [55]:
#Modifying Multiple Elements Using Slicing
my_list = [10, 20, 30, 40, 50]
my_list[1:4] = [200, 300, 400]
print(my_list)

[10, 200, 300, 400, 50]

In [56]:
# Deleting Elements in a List
my_list = [10, 20, 30, 40, 50]
del my_list[2]
print(my_list)

[10, 20, 40, 50]

In [57]:
my_list = [10, 20, 30, 40, 50]
del my_list[1:4]
print(my_list)

[10, 50]

In [58]:
my_list = [10, 20, 30, 40, 50]
my_list.pop(1)
print(my_list)

[10, 30, 40, 50]

In [60]:
# It will remove the last element as no index is provided
my_list = [10, 20, 30, 40, 50]
my_list.pop()
print(my_list)

[10, 20, 30, 40]

In [61]:
my_list = [10, 20, 30, 40, 50]
my_list.remove(30)
print(my_list)

[10, 20, 40, 50]

In [64]:
# Clearing a List
# It will remove all the elements from the list
my_list = [10, 20, 30, 40, 50]
my_list.clear()
print(my_list)

[]

In [65]:
# Ques 4: Compare and contrast tuples and lists the examples?

In [68]:
#Mutability
#For list - elements can be added, modified and removed element
# modify
my_list = [1, 2, 3]
my_list[1] = 10
print(my_list)

[1, 10, 3]

In [69]:
#append
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [70]:
#remove
my_list = [1, 2, 3]
my_list.remove(3)
print(my_list)

[1, 2]

In [71]:
#Mutability
#For tuple - elements cannot be added, modified and removed element
# modify

In [73]:
# Nested Structures
# list inside list
my_list = [[1, 2, 3], [4, 5, 6]]
print(my_list)

[[1, 2, 3], [4, 5, 6]]

In [74]:
# Nested Structures
# Tuple inside tuples
my_list = ((1, 2, 3), (4, 5, 6))
print(my_list)

((1, 2, 3), (4, 5, 6))

In [75]:
#Ques5: Describe the key features of sets and provide examples of their use?

In [77]:
#Unordered Collection
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [78]:
# Unique Elements
my_set = {1, 2, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [81]:
#mutable 
#It means you can add remove in a set
my_set = {1, 2, 3}
my_set.add(4)  
print(my_set)

{1, 2, 3, 4}

In [80]:
my_set = {1, 2, 3}
my_set.remove(2)  
print(my_set)

{1, 3}

In [82]:
#Mathematical Set Operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union: All unique elements from both sets
print(set_a | set_b) 

# Intersection: Elements common to both sets
print(set_a & set_b)  

# Difference: Elements in set_a but not in set_b
print(set_a - set_b) 

# Symmetric Difference: Elements in either set_a or set_b, but not both
print(set_a ^ set_b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [84]:
#Duplicate Removal from a Collection
my_set = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_set)  
print(unique_set)

{1, 2, 3, 4, 5}

In [86]:
# Method that set supports
# Add an element
my_set = {1, 2, 2, 3, 4, 4, 5}
my_set.add(4)
print(my_set)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [90]:
# remove an element
my_set.remove(3)
print(my_set)

{1, 4, 5}

In [88]:
# Discard an element
my_set.discard(10)
print(my_set)

{1, 3, 4, 5}

In [91]:
# Ques 6: Discuss the use cases of tuples and sets in Python programming?

In [93]:
#Use Cases of Tuples
#Fixed Data Structures
my_tuple = (10, 20)
my_tuple[0] = 12
print (my_tuple)

# Tht means you cannot modify

TypeError: 'tuple' object does not support item assignment

In [94]:
# Heterogeneous Data
my_tuple = ("John Doe", 28, "Engineer")
print (my_tuple)

('John Doe', 28, 'Engineer')

In [96]:
#Use Cases of Sets
#Removing Duplicates
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [97]:
# Mathematical Set Operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union: All unique elements from both sets
print(set_a | set_b) 

# Intersection: Elements common to both sets
print(set_a & set_b)  

# Difference: Elements in set_a but not in set_b
print(set_a - set_b) 

# Symmetric Difference: Elements in either set_a or set_b, but not both
print(set_a ^ set_b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [98]:
# Ques 7: Describe how to add, modify and delete items in a dictionary the examples?

In [100]:
# Adding Items to a Dictionary
my_dict = {}
my_dict["name"] = "Alice"
my_dict["age"] = 25
my_dict["city"] = "New York"

print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [102]:
# update
my_dict = {"name": "Alice"}
my_dict.update({"age": 25, "city": "England"})

print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'England'}

In [104]:
# Deleting Items from a Dictionary
# del() statement
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
del my_dict["city"]
print(my_dict)

{'name': 'Alice', 'age': 25}

In [107]:
# pop() method
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.pop("age") 
print(my_dict)

{'name': 'Alice', 'city': 'New York'}

In [110]:
# popitem() method
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.popitem()
print(my_dict)

{'name': 'Alice', 'age': 25}

In [111]:
# clear() method
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.clear()
print(my_dict)

{}

In [114]:
#Consistency and Reliability of Hashing
my_dict = {1: "one", "name": "Alice", (10, 20): "coordinates"}
print(my_dict[1])         
print(my_dict["name"])      
print(my_dict[(10, 20)])

one
Alice
coordinates